/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: "Novecentosanswide-Normal";
  src: url("../../inhabitent_assets/fonts/Novecento/Novecentosanswide-Normal.ttf");
}

@font-face {
  font-family: "Novecentosanswide-DemiBold";
  src: url("../../inhabitent_assets/fonts/Novecento/Novecentosanswide-DemiBold.ttf");
}

@font-face {
  font-family: "Merriweather-Light";
  src: url("../../inhabitent_assets/fonts/Novecento/Merriweather-Light.ttf");
}